body{margin:0;padding:0;}
#xchessboard{font:normal 13px Helvetica,Arial,sans-serif;color:#333;background:#eee;margin:20px;padding:20px;min-width:500px;}
#xchessboard a,#xchessboard a:visited{color:#4183c4;text-decoration:none;}
#xchessboard a:hover,#xchessboard a:focus{color:#265079;text-decoration:none;}
#xchessboard a:active{color:#63664B;}
#xchessboard h3{margin:0 0 25px 0;padding:8px 15px;color:#696B55;background:#e3e3e3;}
#xchessboard h3 a{margin-left:40px;font-size:12px;}
#xchessboard .inlineb{display:inline-block;}
#xchessboard .redColor{color:red;}
#xchessboard .danger_box{color:#721c24;background:#f8d7da;}
#xchessboard .success_box{color:#155724;background:#d4edda;}
#xchessboard hr{margin:15px 0 0 0;padding:0;border:0;border-top:1px solid #ccc;}
#xchessboard,#xcontrols input{border:1px solid #ccc;}
#xchessboard.tests{text-align:center;}
#xchessboard.tests table,#xchessboard.tests tr,#xchessboard.tests th,#xchessboard.tests td{margin:0;padding:0;}
#xchessboard.tests table{border-collapse:collapse;text-align:center;background:#fbfbfb;margin:0 auto;}
#xchessboard.tests th,#xchessboard.tests td{vertical-align:middle;border:1px solid #c0c0c0;padding:8px 16px;}
#xboard table{border:1px solid #a9a9a9;}
#xboard table,#xboard tr,#xboard td{margin:0;padding:0;}
#xboard td{height:39px;width:39px;text-align:center;vertical-align:middle;background-repeat:no-repeat;background-size:75%;background-position:50% 50%;}
#xboard .ws{background-color:#93d798;}
#xboard .bs{background-color:#3dae60;}
#xboard .ws.lastmove{background-color:#62e95f;}
#xboard .bs.lastmove{background-color:#43da4b;}
#xboard .ws.highlight{background-color:#3bebc5!important;}
#xboard .bs.highlight{background-color:#1cdcb1!important;}
#xboard .ws.currpiece{background-color:#daf71d!important;}
#xboard .bs.currpiece{background-color:#c9f012!important;}
#xboard .bp{background-image:url('./images/bp.png');}
#xboard .br{background-image:url('./images/br.png');}
#xboard .bn{background-image:url('./images/bn.png');}
#xboard .bb{background-image:url('./images/bb.png');}
#xboard .bq{background-image:url('./images/bq.png');}
#xboard .bk{background-image:url('./images/bk.png');}
#xboard .wp{background-image:url('./images/wp.png');}
#xboard .wr{background-image:url('./images/wr.png');}
#xboard .wn{background-image:url('./images/wn.png');}
#xboard .wb{background-image:url('./images/wb.png');}
#xboard .wq{background-image:url('./images/wq.png');}
#xboard .wk{background-image:url('./images/wk.png');}
#xboard .xy{background-image:none!important;}
#xboard .label{height:auto;width:auto;color:#888;font-weight:bold;padding:8px;background-color:#e3e3e3;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
#xboard .dot{color:#e3e3e3;}
#xboard .b_color{color:#666;}
#xboard .w_color{color:#fefefe;}
#xcontrols{margin-top:20px;}
#xcontrols input{font-size:11px;margin-top:10px;background:#fafafa;cursor:pointer;}
#xcontrols input:hover{color:#496873;background:#fff;}
#xcontrols input[type=text]{width:385px;padding:10px;margin-left:10px;}
#xcontrols select{padding:5px 15px;margin-left:10px;}
#xmovelist{margin:10px 0 0 0;padding:10px;font-size:18px;color:#4862a3;border:1px solid #c4cca7;background:#eef2df;}
#xmovelist span{padding:0 0 0 2px;}
#xmovelist .xpgn_number{padding:0;color:#555;font-weight:bold;}
#xmovelist .xpgn_result{padding:0;color:#555;}
#xmovelist .xpgn_active{color:#c74c1f;background:#fefe9b;}
#xmovelist .xpgn_goto{cursor:pointer;}
#xmovelist .xpgn_goto:hover{color:#c74c1f;background:#e0e0e0;}
#xrotate,#xnav_first,#xnav_previous,#xnav_next,#xnav_last{padding:15px;margin-left:10px;}
#xinfoholder{margin:20px 0 0 0;padding:10px;font-size:15px;border:1px solid #a9a9a9;background:#e3e3e3;}
#xinfoholder strong{background:#f0efff;}
