body{
	margin : 0;
	padding : 0;
}

#ic_id_main{
	min-width : 500px;
	padding : 20px;
	font : normal 13px Helvetica, Arial, sans-serif;
	color : #333;
	background : #eee;
}

#ic_id_main a, #ic_id_main a:visited{
	color : #429e47;
	text-decoration : none;
}

#ic_id_main a:hover, #ic_id_main a:focus{
	color : #3fbf46;
	text-decoration : none;
}

#ic_id_main a:active{
	color : #63664b;
}

#ic_id_main h3{
	margin : 0 0 25px 0;
	padding : 8px 15px;
	color : #696b55;
	background : #e3e3e3;
}

#ic_id_main h3 a{
	margin-left : 40px;
	font-size : 12px;
}

#ic_id_main pre{
	display : inline;
	margin : 0;
	padding : 0;
}

#ic_id_main .ic_inlineb{
	display : inline-block;
}

#ic_id_main .ic_disabled{
	color : #808080;
}

#ic_id_main .ic_dangerbox{
	color : #721c24;
	background : #f8d7da;
}

#ic_id_main .ic_successbox{
	color : #155724;
	background : #d4edda;
}

#ic_id_main hr{
	margin : 15px 0 0 0;
	padding : 0;
	border : 0;
	border-top : 1px solid #ccc;
}

#ic_id_main.ic_tests{
	text-align : center;
}

#ic_id_main.ic_tests em{
	font-size : 11px;
}

#ic_id_main.ic_tests table, #ic_id_main.ic_tests tr, #ic_id_main.ic_tests th, #ic_id_main.ic_tests td{
	margin : 0;
	padding : 0;
}

#ic_id_main.ic_tests table{
	border-collapse : collapse;
	margin : 0 auto;
	text-align : center;
	background : #fbfbfb;
}

#ic_id_main.ic_tests th, #ic_id_main.ic_tests td{
	vertical-align : middle;
	border : 1px solid #c0c0c0;
	padding : 8px 16px;
}

#ic_id_board table, #ic_id_board tr, #ic_id_board td{
	margin : 0;
	padding : 0;
}

#ic_id_board td{
	height : 39px;
	width : 39px;
	text-align : center;
	vertical-align : middle;
}

#ic_id_board .ic_piece_holder{
	margin : 0;
	padding : 0;
	height : 39px;
	width : 39px;
	background-repeat : no-repeat;
	background-size : 75%;
	background-position : 50% 50%;
}

#ic_id_board .ic_ws{background-color : #93d798;}
#ic_id_board .ic_bs{background-color : #3dae60;}

#ic_id_board .ic_ws.ic_lastmove{background-color : #62e95f;}
#ic_id_board .ic_bs.ic_lastmove{background-color : #43da4b;}

#ic_id_board .ic_ws.ic_highlight{background-color : #3bebc5!important;}
#ic_id_board .ic_bs.ic_highlight{background-color : #1cdcb1!important;}

#ic_id_board .ic_ws.ic_currpiece{background-color : #daf71d!important;}
#ic_id_board .ic_bs.ic_currpiece{background-color : #c9f012!important;}

#ic_id_board .ic_bp{background-image : url('./images/bp.png');}
#ic_id_board .ic_br{background-image : url('./images/br.png');}
#ic_id_board .ic_bn{background-image : url('./images/bn.png');}
#ic_id_board .ic_bb{background-image : url('./images/bb.png');}
#ic_id_board .ic_bq{background-image : url('./images/bq.png');}
#ic_id_board .ic_bk{background-image : url('./images/bk.png');}
#ic_id_board .ic_wp{background-image : url('./images/wp.png');}
#ic_id_board .ic_wr{background-image : url('./images/wr.png');}
#ic_id_board .ic_wn{background-image : url('./images/wn.png');}
#ic_id_board .ic_wb{background-image : url('./images/wb.png');}
#ic_id_board .ic_wq{background-image : url('./images/wq.png');}
#ic_id_board .ic_wk{background-image : url('./images/wk.png');}

#ic_id_board .ic_xy{background-image : none!important;}

#ic_id_board .ic_top_border{border-top : 1px solid #a9a9a9;}
#ic_id_board .ic_right_border{border-right : 1px solid #a9a9a9;}
#ic_id_board .ic_bottom_border{border-bottom : 1px solid #a9a9a9;}
#ic_id_board .ic_left_border{border-left : 1px solid #a9a9a9;}

#ic_id_board .ic_captureds{
	width : 75px;
	padding : 0 25px 0 15px;
	border-left : 10px solid #d9d9d9;
	text-align : left;
	background : #e0e0e0;
}

#ic_id_board .ic_captureds hr{
	margin : 10px 0;
}

#ic_id_board .ic_captureds img{
	margin : 2px;
	background : transparent;
	opacity : 0.5;
	filter : alpha(opacity=50);
}

#ic_id_board .ic_label{
	height : auto;
	width : auto;
	padding : 8px;
	font-weight : bold;
	color : #888;
	background-color : #e3e3e3;
	-webkit-touch-callout : none;
	-webkit-user-select : none;
	-khtml-user-select : none;
	-moz-user-select : none;
	-ms-user-select : none;
	user-select : none;
}

#ic_id_board .ic_dot{
	color : #e3e3e3;
}

#ic_id_board .ic_b_color{
	color : #666;
}

#ic_id_board .ic_w_color{
	color : #fefefe;
}

#ic_id_controls{
	margin-top : 20px;
}

#ic_id_controls input{
	margin-top : 10px;
	font-size : 11px;
	background : #fafafa;
	cursor : pointer;
	border : 1px solid #ccc;
}

#ic_id_controls input:hover{
	color : #3e6640;
	background : #fff;
}

#ic_id_controls input[type=text]{
	width : 385px;
	margin-left : 10px;
	padding : 10px;
}

#ic_id_controls select{
	margin-left : 10px;
	padding : 5px 15px;
}

#ic_id_movelist{
	margin : 10px 0 0 0;
	padding : 10px;
	font-size : 18px;
	color : #4862a3;
	border : 1px solid #c4cca7;
	background : #eef2df;
}

#ic_id_movelist span{
	padding : 0 0 0 2px;
}

#ic_id_movelist .ic_pgn_number{
	padding : 0;
	font-weight : bold;
	color : #555;
}

#ic_id_movelist .ic_pgn_result{
	padding : 0;
	color : #555;
}

#ic_id_movelist .ic_pgn_current{
	color : #222;
	background : #fefe9b;
}

#ic_id_movelist .ic_pgn_link{
	cursor : pointer;
}

#ic_id_movelist .ic_pgn_link:hover{
	color : #222;
	background : #e0e0e0;
}

#ic_id_rotate, #ic_id_nav_first, #ic_id_nav_previous, #ic_id_nav_next, #ic_id_nav_last{
	margin-left : 10px;
	padding : 15px;
}

#ic_id_infoholder{
	margin : 20px 0 0 0;
	padding : 10px;
	font-size : 15px;
	border : 1px solid #b2c8cf;
	background : #e9f4f7;
}

#ic_id_objinfo{
	margin : 10px 0 0 0;
	padding : 0 0 0 20px;
	font-family : monospace;
	white-space : pre;
	color : #4a8296;
}

#ic_id_objinfo strong{
	color : #735d62;
}

#ic_id_overall_results{
	line-height : 20px;
	padding : 10px;
	font-size : 18px;
}

#ic_id_overall_results.ic_with_fails{
	color : #721c24;
}

#ic_id_overall_results.ic_all_passed{
	color : #155724;
}

.ic_icon_holder{
	display : inline-block;
	box-sizing : border-box;
	position : relative;
	height : 20px;
	width : 20px;
	margin : 0;
	padding : 0;
}

.ic_icon_holder .ic_icon_sprites{
	position : absolute;
	top : 50%;
	background : url('./images/sprites_50x50.png') no-repeat;
}

.ic_icon_holder .ic_sm_icon {
	left : 0;
	width : 20px;
	height : 20px;
	background-size : 40px 40px;
	margin-top : -10px;
}

.ic_icon_holder .ic_sm_correct{
	background-position : 0 0;
}

.ic_icon_holder .ic_sm_incorrect{
	background-position : -20px 0;
}

.ic_icon_holder .ic_sm_selected{
	background-position-y : -20px;
}
