## AUTO-DETECT
*        text=auto

## SOURCE CODE
*.html   text diff=html
*.css    text
*.js     text

## DOCUMENTATION
*.txt    text
*.md     text

## GRAPHICS
*.png    binary

## CONFIGS
.gitignore     text
.gitattributes text