# Thumbnail cache files
._*
Thumbs.db

# Node modules
node_modules/

# Not really needed for our 0 dependencies
package-lock.json

# Files and paths from GitHub repo.
.gitignore
.gitattributes
test/
docs/