# Thumbnail cache files
._*
Thumbs.db

# Node modules
node_modules/

# Jest test coverage
coverage/

# Minified js/css
*.min.js
*.min.css

# Typescript build
build/
tsconfig.json
*.ts

# Not really needed for our 0 dependencies
package-lock.json

# Files and paths from GitHub repo.
.gitignore
.gitattributes
.github/
test/
docs/